<%= render 'shared/nav' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="panel panel-default col-xs-12 col-sm-4 panel-margin">
        <div class="panel-body text-center">
          <a href="/admin/stock_option">
            <i class="fa fa-automobile fa-5x"></i>
            <h3>Gerencie seu estoque de veículos.</h3>
          </a>
        </div>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-4 panel-margin">
        <div class="panel-body text-center">
          <a href="/admin/modelos">
            <i class="fa fa-tachometer fa-5x"></i>
            <h3>Gerencie os modelos de seus veículos.</h3>
          </a>
        </div>
      </div>
      <div class="panel panel-default col-xs-12 col-sm-4 panel-margin">
        <div class="panel-body text-center">
          <a href="/admin/categorias">
            <i class="fa fa-sitemap fa-5x"></i>
            <h3>Gerencie as categorias de seus veículos.</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
