<%= render 'shared/nav' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="page-content">
        <div class="panel panel-default col-xs-12 col-sm-4 percent-margin">
          <div class="panel-body">
            <div class="text-center">
              <a href="/admin/veiculos/new"><i class="fa fa-plus-circle fa-5x"></i>
              <h3>Adicionar novo veículo ao estoque.</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="panel panel-default col-xs-12 col-sm-4 percent-margin">
          <div class="panel-body">
            <div class="text-center">
              <a href="/veiculos"><i class="fa fa-eye fa-5x"></i>
              <h3>Visualizar e gerenciar veículos do estoque.</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="panel panel-default col-xs-12 col-sm-4 percent-margin">
          <div class="panel-body">
            <div class="text-center">
              <a href="/admin/estoque"><i class="fa fa-file-pdf-o fa-5x"></i>
              <h3>Relatórios do estoque de veículos.</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
