<footer id="area-fixed">
  <div class="container">
    <ul class="list-unstyled">
      <li>
        Desenvolvido por Anderson Piva. Todos os direitos reservados ©.
      </li>
    </ul>
  </div>
</footer>
