<%= render 'shared/nav' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="panel panel-default col-xs-12 page-content">
        <div class="panel-body">
          <h1 class="no-margin-no-padding"><i class="fa fa-pencil"></i> Editar Veículo</h1>
          <h4>Edite as informações do seu veículo para mante-lo atualizado.</h4>
          <%= render 'vehicles/form' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
