<%= render 'shared/nav' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="panel panel-default col-xs-12 page-content">
        <div class="panel-body">
          <h1 class="no-margin-no-padding"><i class="fa fa-automobile"></i> Novo Veículo</h1>
          <h4><i class="fa fa-plus-circle"></i> Adicione um novo veículo ao estoque.</h4>
          <div class="page-content">
            <%= render 'vehicles/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
